/* Equivalent of @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic);
 * but we store the fonts locally.	No EOT files since we don't support IE8
 */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'),
  local('Lato-Light'),
  url('../assets/fonts/Lato/Lato-300.woff') format('woff'),
  url('../assets/fonts/Lato/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'),
  local('Lato-Regular'),
  url('../assets/fonts/Lato/Lato-400.woff') format('woff'), url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'),
  local('Lato-Bold'),
  url('../assets/fonts/Lato/Lato-700.woff') format('woff'),
  url('../assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato Black';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'),
  local('Lato-Black'),
  url('../assets/fonts/Lato/Lato-900.woff') format('woff'),
  url('../assets/fonts/Lato/Lato-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato Italic';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'),
  local('Lato-Italic'),
  url('../assets/fonts/Lato/Lato-400i.woff') format('woff'),
  url('../assets/fonts/Lato/Lato-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'),
  local('Lato-BoldItalic'),
  url('../assets/fonts/Lato/Lato-700i.woff') format('woff'),
  url('../assets/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
}