body {
  background-color: #fff;
  color: #333;
  font-family: 'Lato Regular';
}

header {
  .header-menu-bar {
    height: 50px;
    line-height: 50px;
    font-size: 10px;
    border-bottom: 1px solid #e6e6e6;
    
    nav {
      ul {
        li {
          a {
            color: #333;

            &:hover {
              color: #f2784b;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  
  .main-menu-bar {
    nav {
      ul#main-nav {
        text-align: center;
        width: 100%;
        
        > li {
          float: none;
          display: inline-block;
          
           > a {
            font-family: 'Lato Bold';
            color: #333;
            font-size: 14px;
            padding-left: 25px;
            padding-right: 25px;
            text-transform: uppercase;
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 1px transparent;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            position: relative;
            overflow: hidden;
            
            &::before {
              content: "";
              position: absolute;
              z-index: -1;
              left: 50%;
              right: 50%;
              bottom: 0;
              background: #f2784b;
              height: 3px;
              transition-property: left right;
              transition-duration: 0.3s;
              transition-timing-function: ease-out;
            }
            
            &:hover,
            &:focus,
            &.active {
              color: #f2784b;
              background: transparent;
            }

            &:hover,
            &:focus,
            &.active {
              &::before {
                left: 0;
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}