include ./_variables.jade

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        // Normalize css
        link(href="./vendor/normalize.css/normalize.css", rel="stylesheet")
        // Bootstrap
        link(href="./vendor/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="./vendor/font-awesome/css/font-awesome.min.css", rel="stylesheet")
        link(href="./vendor/angular-motion/dist/angular-motion.min.css", rel="stylesheet")
        link(href="./vendor/animate.css/animate.min.css", rel="stylesheet")

        //
            HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
            Respond.js doesn't work if you view the page via file://
        <!--[if lt IE 9]>
        script(src="./vendor/html5shiv/dist/html5shiv.min.js")
        script(src="./vendor/respond/dest/respond.min.js")
        <![endif]-->

        link(href="./css/fonts.css", rel="stylesheet", type="text/css")
        link(href="#{themesPath}/styles.css", rel="stylesheet", type="text/css")

        script(src="./vendor/jquery/dist/jquery.min.js", type="text/javascript")
        script(src="./vendor/bootstrap/dist/js/bootstrap.min.js", type="text/javascript")

        title BG STORE
    body
        header
            .container-fluid
                .row.header-menu-bar
                    nav.col-xs-3
                        .dropdown.visible-xs
                            a#languages-dropdown-dropdown(data-target="#", href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Languages
                                span.caret
                            ul#languages-nav-dropdown.dropdown-menu(aria-labelledby="languages-dropdown")
                                li: a(href="#") EN
                                li: a(href="#") FR
                                li: a(href="#") RU
                                li: a(href="#") VI
                        ul#languages-nav.list-inline.text-left.hidden-xs
                            li: a(href="#") EN
                            li: a(href="#") FR
                            li: a(href="#") RU
                            li: a(href="#") VI
                    nav.col-xs-9
                        ul#header-nav.pull-right.list-inline
                            li: a(href="#") REGISTER
                            li: a(href="#") SIGN IN
                            li: a(href="#") ORDERS
                            li: a(href="#") HELP
                .row.text-center
                    img(src="./assets/images/logo.png", alt="")

                .row.main-menu-bar
                    .col-sm-3
                    .col-sm-6
                        nav
                            ul#main-nav.nav.navbar-nav
                                li: a.active(href="#") HOME
                                li: a(href="#") WOMEN
                                li: a(href="#") MEN
                                li: a(href="#") KID
                                li: a(href="#") ABOUT US
                    .col-sm-3
                        form.navbar-form.navbar-right(role="search")
                            .input-group
                                input.form-control(type="text", placeholder="Search")
                                .input-group-btn
                                    button.btn(type="submit")
                                        span.glyphicon.glyphicon-search

        script(type="text/javascript", src="./js/app.js", charset="utf-8")
                